*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f4f4fc;
}

header{
    width: 100%;
    height: 70px;
}

.logo{
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}

main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.contenedor-caja-texto{
    position: absolute;
    left: 10px;
    top: 40px;
    padding-left: 20px;
    width: 480px;
    height: 300px;    
}

.caja-texto{
    position: absolute;
    left: 10px;
    top: 60px;
    padding-left: 20px;
    width: 480px;
    height: 300px;
    background-color: #f4f4fc;
    cursor: pointer;
    border: none;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.caja-texto::placeholder{
    color: #0a3871;
}

.alerta{
    position: absolute;
    top: 400px;
    left: 40px;
    display: flex;
    color: #495057;
    font-family: 'Inter', sans-serif;
}

.botones{
    position: absolute;
    top: 440px;
    left: 40px;
    padding-left: 15%;
    padding-top: 10px;    
}

.boton-encriptar{
    width: 150px;
    height: 40px;
    border-radius: 12px;
    background-color: #0a3871;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border: none;
    font-family: 'Inter', sans-serif;      
    margin-right: 15px;
    cursor: pointer;
}

.boton-desencriptar{
    width: 150px;
    height: 40px;
    border-radius: 12px;
    background-color: #d8dfe5;
    color: #0a3871;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #0a3871;
    font-family: 'Inter', sans-serif;      
    margin-right: 15px;
    cursor: pointer;
}

.parte2{
    display: block;
    position: relative;
    width: 350px;
    height: 600px;
    right: 300px;
    padding-right: 50px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0 16px 24px -6px rgba(0, 0, 0, 0.5);
}

.ilustracion{
    position: absolute;
    left: 10px;
    top: 80px;
    box-sizing: border-box;
    padding-top: 30px;
}

.parrafo{
    position: absolute;
    box-sizing: border-box;
    top: 430px;
    left: 40px;
}

.parrafo h3{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343a40;
}

.parrafo p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #495057;
    padding-top: 10px;
}

.copiar{
    display: flex;
    position: absolute;
    bottom: 40px;
    top: 520px;
    padding-left: 40px;
}

.boton-copiar{
    width: 200px;
    height: 40px;
    border-radius: 18px;
    background-color: #ffffff;
    color: #0a3871;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0a3871;
    cursor: pointer;
    position: relative;
    top: 0px;
    right: 4px;
}

.resultado{
    position: absolute;
    bottom: 330px;
    width: 220px;
    height: 199px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 15px;
}

.resultado p{
    color: #495057;
    font-size: 40px;
}

.ocultar{
    display: none;
}

